<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-success">
                cabeza
            </div>
            <div class="col-12 bg-info">
                banner

            </div>
        </div>
    </div>
    
        <div class="container">
            <div class="row row-cols-2-md row-cols-lg-4 g-5 g-lg-5">
                <div class="col">
                    <div class="p-3 border bg-light">1</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">2</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">3</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">4</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">5</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">6</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">7</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">8</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">9</div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">10</div>
                </div>
                <div class="p-3 border bg-light">11</div>
            
            <div class="col">
                <div class="p-3 border bg-light">12</div>
            </div>
        </div>
    </div>
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 bg-primary">
                caja1
            </div>
            <div class="col-4 bg-warning">
                caja2
            </div>
            <div class="col-4 bg-info">
                caja3
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 bg-danger">
                footer 
            </div>
        </div>
    </div>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>